@import "base/_variables";

form {
	/** *********** **/
	/** * Buttons * **/
	/** *********** **/
	@import "components/_buttons";
	
	/** ********** **/
	/** * Legend * **/
	/** ********** **/
	legend {
		color: $grey;
		font-size: 0.875em;
		font-weight: normal;
		font-style: italic;
	}
	
	/** ********** **/
	/** * Labels * **/
	/** ********** **/
	label {
		display: block;
		font-size: 0.75em;
	}
	
	/** ************ **/
	/** * Fieldset * **/
	/** ************ **/
	fieldset {
		margin: 10px 0;
	}
	
	/** ********** **/
	/** * Fields * **/
	/** ********** **/
	
	/** * General field styles * **/
	input, select {
		margin-bottom: 10px;
		border: 1px solid $grey;
	}
	
	input, select {
		max-width: 200px;
	}
	
	input, textarea {
		padding: 4px;
	}
	
	input[readonly="readonly"], input[readonly], textarea[readonly="readonly"], textarea[readonly] {
		color: $grey;
		background: $very-light-grey;
	}
	
	/** * Text input * **/
	input {
	}
	
	/** * Textarea * **/
	textarea {
		max-width: 350px;
		min-height: 150px;
		margin-bottom: 10px;
		font-family: "Open Sans", Arial, sans-serif;
		font-size: 0.875em;
	}
	
	/** * Radiobuttons and Checkboxes * **/
	input[type="radio"], input[type="checkbox"] {
		position: relative;
		top: 2px;
	}
	
	/** * Range selector * **/
	input[type="range"] {
		margin-left: 0;
	}
}