
body {
  padding-top: 60px;
  padding-bottom: 60px;
}

.required {
	color: #d9534f;
}
.preformatted {
	white-space: pre-wrap;
}

/* donate form */
#donateForm .form-group .alert
{
	padding: 5px 15px;
	margin-top:5px;
}

#donationSummary .table th
{
	padding-left:30px
}
#donationSummary .table tr.head th
{
	padding-left:0;
	border-top:none;
}
#donationSummary .table tr.first th,
#donationSummary .table tr.first td
{
	border-top:none;
}

.files-group {
	height: 0;
	margin: 0;
	padding: 0;
}