/** Clearfix hack **/
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
}

/** $Colors **/
/** $Color Assignments **/
html, body {
  height: 100%;
}

body {
  padding-top: 50px;
}

.page-wrap {
  min-height: 100%;
  margin-bottom: -150px;
  /* equal to footer height */
  padding-bottom: 50px;
}

.page-wrap:after {
  content: "";
  display: block;
}

.footer, .page-wrap:after {
  height: 150px;
  /* .push must be the same height as footer */
}

.footer {
  padding: 20px 0;
  background: #3c3c3c;
}

.required {
  color: #d9534f;
}

.preformatted {
  white-space: pre-wrap;
}

.category-small,
.city-small,
.interested-people {
  font-size: 0.85em;
}

.category-small {
  font-weight: bold;
}

.interest-button {
  text-align: right;
  padding-top: 5px;
}

.list-image,
.list-description {
  margin-bottom: 1em;
}

.border-top-thin {
  border-top: thin solid #ddd;
}

.border-bottom-thin {
  border-bottom: thin solid #ddd;
}

.row-space {
  padding-top: 0.7em;
  padding-bottom: 0.7em;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.summary-head {
  font-weight: bold;
  margin-bottom: 1em;
}

/* donate form */
#donateForm .form-group .alert {
  padding: 5px 15px;
  margin-top: 5px;
}

#donationSummary .table tr.head th {
  border-top: none;
}

#donationSummary .table tr.first th,
#donationSummary .table tr.first td {
  border-top: none;
}

/** $Colors **/
/** $Color Assignments **/
/** $Footer-Navigation **/
ul.footer-nav {
  list-style-type: none;
}
ul.footer-nav li {
  display: block;
}
ul.footer-nav li a {
  color: #999999;
}
ul.footer-nav li a:hover {
  color: white;
}
ul.footer-nav li a.navbar-brand {
  padding: 0;
  float: none;
}

/** $Colors **/
/** $Color Assignments **/
/** $File Upload **/
ul#donation-pictures {
  padding: 0;
  list-style-type: none;
}
ul#donation-pictures li {
  margin: 0 20px 20px 0;
  padding: 10px;
  border: 1px solid #eeeeee;
  float: left;
}
ul#donation-pictures li img, ul#donation-pictures li canvas {
  display: block;
  max-width: 80px;
  max-height: 60px;
  margin: 0 auto 10px auto;
}
ul#donation-pictures li .filename {
  display: inline-block;
  width: 100%;
  text-align: center;
}
ul#donation-pictures li .filename .btn-danger {
  padding: 2px 4px;
  line-height: 1;
}

/** $jQuery File Upload Plugin - Customizations / Fixes **/
/* Adjust "Add pictures" button size */
.fileupload-buttonbar .fileinput-button .form-group {
  height: 0;
  margin: 0;
}

.fileupload-progress {
  margin: 1em;
}
.fileupload-progress .progress {
  margin-bottom: 0;
}

.files-group {
  height: 0;
  margin: 0;
  padding: 0;
}
