/** ********** **/
/** * Colors * **/
/** ********** **/
$dark-blue: #03426a;
$grey-blue: #24587a;
$blue: #0a67a3;
$light-blue: #3e97d1;
$very-light-blue: #65a6d1;

$dark-green: #007536;
$grey-green: #228751;
$green: #00b454;
$light-green: #36da82;
$very-light-green: #62da9a;

$dark-red: #a62000;
$grey-red: #bf4b30;
$red: #ff3100;
$light-red: #ff6440;
$very-light-red: #ff8e73;

$dark-anthrazit: #2a2a2a;
$anthrazit: #333333;
$grey: #696969;
$semi-light-grey: #cccccc;
$light-grey: #dddddd;
$very-light-grey: #eeeeee;

/** ********************* **/
/** * Color assignments * **/
/** ********************* **/
$link-color: $light-blue;
$link-hover-color: $blue;

$nav-link-color: $light-grey;
$nav-link-hover-color: $very-light-grey;