
.required 
{
	color: $red;
}
.preformatted
{
	white-space: pre-wrap;
}

.category-small,
.city-small,
.interested-people
{
	font-size:0.85em;
}
.category-small
{
	font-weight:bold;
}
.interest-button
{
	text-align:right;
	padding-top:5px;
}
.list-image,
.list-description
{
	margin-bottom: 1em;
}
.border-top-thin
{
	border-top:thin solid #ddd;
}
.border-bottom-thin
{
	border-bottom:thin solid #ddd;
}
.row-space
{
	padding-top:0.7em;
	padding-bottom:0.7em;
}
.center
{
	margin:0 auto;
	text-align:center;
}
.summary-head
{
	font-weight:bold;
	margin-bottom:1em;
}

/* donate form */
#donateForm .form-group .alert
{
	padding: 5px 15px;
	margin-top:5px;
}

#donationSummary .table tr.head th
{
	border-top:none;
}
#donationSummary .table tr.first th,
#donationSummary .table tr.first td
{
	border-top:none;
}
