@(currentPage: DonationPage, currentFilter: String, selectedCategories: List[models.Enumerated.Category])

@import helper._
@import play.api.Play

@implicitField = @{ FieldConstructor(helper.forms.bootstrapForm.f) }

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int) = @{
    
    // Generate the link
    routes.DonationList.list(newPage, currentFilter)
    
}


@main(title = "Donation") {
    
    <h1>Spende finden</h1>

    @if(flash.containsKey("success")) {
        <div class="alert-message warning">
            <strong>Done!</strong> @flash.get("success")
        </div>
    } 
	<div class="row">
    <div id="actions" class="col-xs-12 col-lg-3 col-md-3">  
    	<fieldset>
			<legend>Suchoptionen</legend>     
        	<form action="@link(0)" method="GET">
        		<label for="searchbox">Filter:</label>
	         	<div class="input-group" id="searchbox" >
	         		<input type="text" class="form-control" name="f" value="@currentFilter" placeholder="Bezeichnung ...">
	        		<span class="input-group-btn">
	        			<button type="submit" class="btn btn-default">Filtern</button>
	        		</span>
         	   	</div>
        	</form> 
        	<br>
        	<label for="categorySelectGroup">Kategorie:</label>
        	@helper.form(action=routes.DonationList.removeCategory(0, currentFilter)){
	        	@for(category <- selectedCategories) {	        		
	        		<div class="row">
	        			<div class="col-xs-9 col-lg-9 col-md-9">
		        			@category.getName()
		        			<input type="hidden" name="categorySelect" value="@category.getId()">
	        			</div>
	        			<div class="col-xs-3 col-lg-3 col-md-3">	        	
		        			<button type="submit" class="btn btn-default btn-xs">
			  					<span class="glyphicon glyphicon-minus-sign"></span>
							</button>
						</div>	
					</div>		        		
	        	}
        	}
			@helper.form(action=routes.DonationList.addCategory(0, currentFilter)){  
			<div class="row">
        		<div class="col-xs-9 col-lg-9 col-md-9">	
	         	   	<select id="categorySelect" name="categorySelect" class="form-control" >
	         	   		@for(categorie <- Enumerated.Category.findAll) {
							<option value="@categorie.getId()">@categorie.getName()</option>		
						}	
					</select>
				</div>
				<div class="col-xs-3 col-lg-3 col-md-3">
		        	<button type="submit" class="btn btn-default btn-xs">
	  					<span class="glyphicon glyphicon-plus-sign"></span>
					</button>										
				</div>
			</div>
        	}  
        </fieldset>  
    </div>
    
    <div class="col-xs-12 col-lg-9 col-md-9">
    	<fieldset>
			<legend>Spenden</legend> 
		    @if(currentPage.getTotalRowCount == 0) {
		        <div class="well">
		            <em>Nothing to display</em>
		        </div>
		        
		    } else {
		    
		    @for(donation <- currentPage.getList) {
		    
		    	<div class="panel panel-default">
		    		<div class="panel-heading">
		    			<h3 class="panel-title">@donation.getLabel()</h3>
		    		</div>
		    		<div class="panel-body">
		    			<div class="col-xs-12 col-lg-8 col-md-8">
		    				@donation.getDescription()
		    			</div>
		    			<div class="col-xs-12 col-lg-4 col-md-4">
		    				Kategorie: @donation.getCategory().getName()<br>
		    				@if(donation.getDonorAddress() != null) {
		    				Wo: @donation.getDonorAddress()
		    				}
		    			</div>
	
		    			<div class="col-xs-12 col-lg-9 col-md-9">
		    				<br>
		    				@donation.getUsers().size() Personen haben bereits Bedarf f&uuml;r diese Spene ge&auml;u&szlig;ert
		    			</div>
		    		</div>
		    		
		    	</div>
		    
		    }
	    	<div class="text-center">
				<ul class="pagination center">
					@if(currentPage.hasPrev) {   
						<li><a href="@link(currentPage.getPageIndex - 1)">&laquo;</a></li>
					} else {
						<li class="disabled"><a href="@link(currentPage.getPageIndex)">&laquo;</a></li>
					}
					@for(i <- 1 to currentPage.getAmountPages) {
						@if(i == currentPage.getPageIndex) {
							<li class="active"><a href="@link(i)">@i</a></li>
						} else {
							<li><a href="@link(i)">@i</a></li>
						}
					}
					@if(currentPage.hasNext) {   
						<li><a href="@link(currentPage.getPageIndex + 1)">&raquo;</a></li>
					} else {
						<li class="disabled"><a href="@link(currentPage.getPageIndex)">&raquo;</a></li>
					}
				</ul>
			</div>
		</fieldset> 
	</div>
	</div>
    }
        
}

            