/** ******************* **/
/** * Compass Imports * **/
/** ******************* **/
/* line 17, ../../../../../Programme/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Programme/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Programme/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Programme/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Programme/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Programme/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Programme/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Programme/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Programme/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/** **************** **/
/** * Site Imports * **/
/** **************** **/
/** ********** **/
/** * Colors * **/
/** ********** **/
/** ********************* **/
/** * Color assignments * **/
/** ********************* **/
/** ************* **/
/** * Overrides * **/
/** ************* **/
/* line 6, ../sass/base/_styleguide.scss */
.sg-doc {
  padding-bottom: 10px;
}

/** ***************** **/
/** * Color Palette * **/
/** ***************** **/
/** * Blue * **/
/* line 15, ../sass/base/_styleguide.scss */
.sg-color--dark-blue .sg-color-swatch {
  background: #03426a;
}

/* line 19, ../sass/base/_styleguide.scss */
.sg-color--grey-blue .sg-color-swatch {
  background: #24587a;
}

/* line 23, ../sass/base/_styleguide.scss */
.sg-color--blue .sg-color-swatch {
  background: #0a67a3;
}

/* line 27, ../sass/base/_styleguide.scss */
.sg-color--light-blue .sg-color-swatch {
  background: #3e97d1;
}

/* line 31, ../sass/base/_styleguide.scss */
.sg-color--very-light-blue .sg-color-swatch {
  background: #65a6d1;
}

/** * Grey * **/
/* line 36, ../sass/base/_styleguide.scss */
.sg-color--anthrazit .sg-color-swatch {
  background: #1a1a1a;
}

/* line 40, ../sass/base/_styleguide.scss */
.sg-color--grey .sg-color-swatch {
  background: dimgrey;
}

/* line 44, ../sass/base/_styleguide.scss */
.sg-color--semi-light-grey .sg-color-swatch {
  background: #cccccc;
}

/* line 48, ../sass/base/_styleguide.scss */
.sg-color--light-grey .sg-color-swatch {
  background: #dddddd;
}

/* line 52, ../sass/base/_styleguide.scss */
.sg-color--very-light-grey .sg-color-swatch {
  background: #eeeeee;
}

/** * Green * **/
/* line 57, ../sass/base/_styleguide.scss */
.sg-color--light-green .sg-color-swatch {
  background: #36da82;
}

/* line 61, ../sass/base/_styleguide.scss */
.sg-color--very-light-green .sg-color-swatch {
  background: #62da9a;
}

/** * Red * **/
/* line 66, ../sass/base/_styleguide.scss */
.sg-color--light-red .sg-color-swatch {
  background: #ff6440;
}

/* line 70, ../sass/base/_styleguide.scss */
.sg-color--very-light-red .sg-color-swatch {
  background: #ff8e73;
}

/* Classes just for use with the style guide presentation site */
/* line 2, ../sass/base/_utility.scss */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

/* line 6, ../sass/base/_utility.scss */
.clearfix:after {
  clear: both;
}

/* line 9, ../sass/base/_utility.scss */
.clearfix {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
}

/* Contains classes that have no semantic meaning but provide important functionality, such as clearfix, etc */
/** ********** **/
/** * Colors * **/
/** ********** **/
/** ********************* **/
/** * Color assignments * **/
/** ********************* **/
/* line 5, ../sass/base/_base.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/** ******************************* **/
/** * General (class-free) styles * **/
/** ******************************* **/
/* line 12, ../sass/base/_base.scss */
html, body {
  height: 100%;
}

/* line 16, ../sass/base/_base.scss */
body {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.125em;
}

/* line 22, ../sass/base/_base.scss */
p {
  margin-bottom: 4px;
  font-size: 0.875em;
}

/* line 27, ../sass/base/_base.scss */
code {
  font-family: "Courier New", Verdana, sans-serif;
}

/* line 31, ../sass/base/_base.scss */
abbr {
  border-bottom: 1px dotted dimgrey;
}

/* line 35, ../sass/base/_base.scss */
b, strong {
  font-weight: bold;
}

/* line 39, ../sass/base/_base.scss */
em {
  font-weight: bold;
  font-style: italic;
}

/* line 44, ../sass/base/_base.scss */
i {
  font-style: italic;
}

/* line 48, ../sass/base/_base.scss */
cite {
  color: dimgrey;
  font-style: italic;
}

/* line 53, ../sass/base/_base.scss */
sup, sub {
  position: relative;
  height: 0;
  font-size: 0.75em;
  vertical-align: baseline;
  line-height: 1;
}

/* line 61, ../sass/base/_base.scss */
sup {
  bottom: 0.25em;
}

/* line 65, ../sass/base/_base.scss */
sub {
  top: 0.25em;
}

/** * Headings * **/
/* line 70, ../sass/base/_base.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
}

/* line 74, ../sass/base/_base.scss */
h1 {
  font-size: 2em;
  line-height: 1em;
}

/* line 75, ../sass/base/_base.scss */
h2 {
  font-size: 1.5em;
  line-height: 1em;
}

/* line 76, ../sass/base/_base.scss */
h3 {
  font-size: 1.17em;
  line-height: 1em;
}

/* line 77, ../sass/base/_base.scss */
h4 {
  font-size: 1em;
  line-height: 1em;
}

/* line 78, ../sass/base/_base.scss */
h5 {
  font-size: 0.83em;
  line-height: 1em;
}

/* line 79, ../sass/base/_base.scss */
h6 {
  font-size: 0.75em;
  line-height: 1em;
}

/** * Address * **/
/* line 82, ../sass/base/_base.scss */
address {
  font-size: 0.875em;
}

/** * Blockquote * **/
/* line 87, ../sass/base/_base.scss */
blockquote {
  margin: 10px;
  color: dimgrey;
  font-size: 1.125em;
  font-style: italic;
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 95, ../sass/base/_base.scss */
blockquote:before, blockquote:after {
  color: #dddddd;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

/* line 103, ../sass/base/_base.scss */
blockquote:before {
  content: open-quote;
}

/* line 107, ../sass/base/_base.scss */
blockquote:after {
  content: close-quote;
}

/* line 111, ../sass/base/_base.scss */
blockquote p {
  display: inline;
}

/** * Small text * **/
/* line 116, ../sass/base/_base.scss */
small {
  font-size: 0.75em;
}

/** * Figures * **/
/* line 121, ../sass/base/_base.scss */
figcaption {
  margin: 2px 0 12px 0;
  font-size: 0.75em;
  font-style: italic;
}
/* line 126, ../sass/base/_base.scss */
figcaption h4 {
  text-decoration: underline;
}

/** * HR / Separator * **/
/* line 132, ../sass/base/_base.scss */
hr {
  height: 1px;
  color: #dddddd;
  background: #dddddd;
}

/** ********* **/
/** * Lists * **/
/** ********* **/
/** * General list styles * **/
/* line 143, ../sass/base/_base.scss */
ul, ol {
  margin: 10px 0 10px 1.25em;
  font-size: 0.875em;
  list-style-position: inside;
}
/* line 148, ../sass/base/_base.scss */
ul li ul, ul li ol, ol li ul, ol li ol {
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 0;
}

/** * Definition lists * **/
/* line 157, ../sass/base/_base.scss */
dl dt {
  margin-top: 10px;
  font-style: italic;
}
/* line 162, ../sass/base/_base.scss */
dl dt:first-child {
  margin-top: 0;
}
/* line 166, ../sass/base/_base.scss */
dl dd {
  margin: 2px 0 2px 1.25em;
}

/** * Ordered lists * **/
/* line 172, ../sass/base/_base.scss */
ol {
  list-style-type: decimal;
}

/** * Unordered lists * **/
/* line 177, ../sass/base/_base.scss */
ul {
  list-style-type: disc;
}
/* line 180, ../sass/base/_base.scss */
ul li ul {
  list-style-type: circle;
}
/* line 183, ../sass/base/_base.scss */
ul li ul li ul {
  list-style-type: square;
}

/** ********** **/
/** * Images * **/
/** ********** **/
/* line 192, ../sass/base/_base.scss */
img {
  color: dimgrey;
  font-style: italic;
}

/** ********** **/
/** * Tables * **/
/** ********** **/
/* line 200, ../sass/base/_base.scss */
table {
  border: 1px solid #dddddd;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
}
/* line 206, ../sass/base/_base.scss */
table caption {
  margin: 5px 0;
  color: dimgrey;
  font-style: italic;
}
/* line 212, ../sass/base/_base.scss */
table thead {
  background: none repeat scroll 0 0 #dddddd;
  color: #1a1a1a;
  text-align: left;
  vertical-align: bottom;
}
/* line 220, ../sass/base/_base.scss */
table tbody tr:nth-child(even) {
  background: #eeeeee;
}
/* line 224, ../sass/base/_base.scss */
table tbody tr:hover {
  color: white;
  background: #65a6d1;
}
/* line 231, ../sass/base/_base.scss */
table tfoot tr {
  border-top: 1px solid #dddddd;
}
/* line 236, ../sass/base/_base.scss */
table td:first-child, table th:first-child {
  border-left-width: 0;
}
/* line 240, ../sass/base/_base.scss */
table th, table td {
  padding: 0.5em 1em;
  border-left: 1px solid #dddddd;
  border-width: 0 0 0 1px;
  font-size: 0.875em;
  margin: 0;
  overflow: visible;
}
/* line 249, ../sass/base/_base.scss */
table th {
  font-weight: bold;
}

/** ********* **/
/** * Links * **/
/** ********* **/
/* line 257, ../sass/base/_base.scss */
a {
  color: #3e97d1;
}

/* line 261, ../sass/base/_base.scss */
a:hover {
  color: #0a67a3;
}

/* Basic definitions for all sorts of elements, contains only class-free rules and declarations */
/** ********** **/
/** * Colors * **/
/** ********** **/
/** ********************* **/
/** * Color assignments * **/
/** ********************* **/
/* Contains the general layout styles for the website */
/** ********** **/
/** * Colors * **/
/** ********** **/
/** ********************* **/
/** * Color assignments * **/
/** ********************* **/
/* line 3, ../sass/core/_forms.scss */
form {
  /** *********** **/
  /** * Buttons * **/
  /** *********** **/
  /** ********** **/
  /** * Colors * **/
  /** ********** **/
  /** ********************* **/
  /** * Color assignments * **/
  /** ********************* **/
  /** ************************* **/
  /** * General button styles * **/
  /** ************************* **/
  /** ******************* **/
  /** * Standard button * **/
  /** ******************* **/
  /** ***************** **/
  /** * Submit button * **/
  /** ***************** **/
  /** **************** **/
  /** * Reset button * **/
  /** **************** **/
  /** ********** **/
  /** * Legend * **/
  /** ********** **/
  /** ********** **/
  /** * Labels * **/
  /** ********** **/
  /** ************ **/
  /** * Fieldset * **/
  /** ************ **/
  /** ********** **/
  /** * Fields * **/
  /** ********** **/
  /** * General field styles * **/
  /** * Text input * **/
  /** * Textarea * **/
  /** * Radiobuttons and Checkboxes * **/
  /** * Range selector * **/
}
/* line 6, ../sass/components/_buttons.scss */
form input[type="button"], form input[type="submit"], form input[type="reset"], form button {
  margin: 2px 0;
  padding: 10px;
  color: white;
  text-align: center;
  border: none;
}
/* line 14, ../sass/components/_buttons.scss */
form input[type="button"]:hover, form input[type="submit"]:hover, form input[type="reset"]:hover, form button:hover {
  cursor: pointer;
}
/* line 18, ../sass/components/_buttons.scss */
form input[type="button"]:active, form input[type="submit"]:active, form input[type="reset"]:active, form button:active {
  position: relative;
  top: -1px;
}
/* line 23, ../sass/components/_buttons.scss */
form input[type="button"]:disabled, form input[type="submit"]:disabled, form input[type="reset"]:disabled, form button:disabled {
  color: dimgrey !important;
  background: #dddddd !important;
  cursor: not-allowed !important;
}
/* line 32, ../sass/components/_buttons.scss */
form input[type="button"], form button {
  background: #65a6d1;
}
/* line 36, ../sass/components/_buttons.scss */
form input[type="button"]:hover, form button:hover {
  background: #3e97d1;
}
/* line 40, ../sass/components/_buttons.scss */
form input[type="button"]:active, form button:active {
  background: #65a6d1;
}
/* line 47, ../sass/components/_buttons.scss */
form input[type="submit"], form button[type="submit"] {
  color: #1a1a1a;
  background: #62da9a;
}
/* line 52, ../sass/components/_buttons.scss */
form input[type="submit"]:hover, form button[type="submit"]:hover {
  background: #36da82;
}
/* line 56, ../sass/components/_buttons.scss */
form input[type="submit"]:active, form button[type="submit"]:active {
  background: #62da9a;
}
/* line 63, ../sass/components/_buttons.scss */
form input[type="reset"], form button[type="reset"] {
  background: #ff8e73;
}
/* line 67, ../sass/components/_buttons.scss */
form input[type="reset"]:hover, form button[type="reset"]:hover {
  background: #ff6440;
}
/* line 71, ../sass/components/_buttons.scss */
form input[type="reset"]:active, form button[type="reset"]:active {
  background: #ff8e73;
}
/* line 12, ../sass/core/_forms.scss */
form legend {
  color: dimgrey;
  font-size: 0.875em;
  font-style: italic;
}
/* line 21, ../sass/core/_forms.scss */
form label {
  display: block;
  font-size: 0.75em;
}
/* line 29, ../sass/core/_forms.scss */
form fieldset {
  margin: 10px 0;
}
/* line 38, ../sass/core/_forms.scss */
form input, form select, form textarea {
  margin-bottom: 10px;
  padding: 4px;
  border: 1px solid dimgrey;
}
/* line 44, ../sass/core/_forms.scss */
form input[readonly="readonly"], form input[readonly], form textarea[readonly="readonly"], form textarea[readonly] {
  color: dimgrey;
  background: #eeeeee;
}
/* line 54, ../sass/core/_forms.scss */
form textarea {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 0.875em;
}
/* line 60, ../sass/core/_forms.scss */
form input[type="radio"], form input[type="checkbox"] {
  position: relative;
  top: 2px;
}
/* line 66, ../sass/core/_forms.scss */
form input[type="range"] {
  margin-left: 0;
}

/* All styles regarding forms and their elements, like input fields, buttons, etc */
/** ********** **/
/** * Colors * **/
/** ********** **/
/** ********************* **/
/** * Color assignments * **/
/** ********************* **/
/** ************************* **/
/** * General button styles * **/
/** ************************* **/
/* line 6, ../sass/components/_buttons.scss */
input[type="button"], input[type="submit"], input[type="reset"], button {
  margin: 2px 0;
  padding: 10px;
  color: white;
  text-align: center;
  border: none;
}

/* line 14, ../sass/components/_buttons.scss */
input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, button:hover {
  cursor: pointer;
}

/* line 18, ../sass/components/_buttons.scss */
input[type="button"]:active, input[type="submit"]:active, input[type="reset"]:active, button:active {
  position: relative;
  top: -1px;
}

/* line 23, ../sass/components/_buttons.scss */
input[type="button"]:disabled, input[type="submit"]:disabled, input[type="reset"]:disabled, button:disabled {
  color: dimgrey !important;
  background: #dddddd !important;
  cursor: not-allowed !important;
}

/** ******************* **/
/** * Standard button * **/
/** ******************* **/
/* line 32, ../sass/components/_buttons.scss */
input[type="button"], button {
  background: #65a6d1;
}

/* line 36, ../sass/components/_buttons.scss */
input[type="button"]:hover, button:hover {
  background: #3e97d1;
}

/* line 40, ../sass/components/_buttons.scss */
input[type="button"]:active, button:active {
  background: #65a6d1;
}

/** ***************** **/
/** * Submit button * **/
/** ***************** **/
/* line 47, ../sass/components/_buttons.scss */
input[type="submit"], button[type="submit"] {
  color: #1a1a1a;
  background: #62da9a;
}

/* line 52, ../sass/components/_buttons.scss */
input[type="submit"]:hover, button[type="submit"]:hover {
  background: #36da82;
}

/* line 56, ../sass/components/_buttons.scss */
input[type="submit"]:active, button[type="submit"]:active {
  background: #62da9a;
}

/** **************** **/
/** * Reset button * **/
/** **************** **/
/* line 63, ../sass/components/_buttons.scss */
input[type="reset"], button[type="reset"] {
  background: #ff8e73;
}

/* line 67, ../sass/components/_buttons.scss */
input[type="reset"]:hover, button[type="reset"]:hover {
  background: #ff6440;
}

/* line 71, ../sass/components/_buttons.scss */
input[type="reset"]:active, button[type="reset"]:active {
  background: #ff8e73;
}

/* Buttons */
