@()
@main(title = "Sachspenden Plattform") {
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Sachspenden-Sammler!</h1>
        <p>Diese Website bietet die Möglichkeit Sachspenden anzubieten oder nach bereits eingetragenen Spenden zu suchen.</p>
        <p><a class="btn btn-primary btn-lg" role="button" href="@routes.Donate.form">Jetzt Spenden &raquo;</a></p>
      </div>
    </div>
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Neuigkeiten der Einsatzleitung</h2>
          <p>Die Einsatzleitung hat bekannt gegeben, dass vor allem Lebensmittel und Haushaltsgüter benötigt werden.</p>
          <p><a class="btn btn-default" href="#" role="button">mehr &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Das haben Sie bereits erreicht</h2>
          <p>Innerhalb der letzten 48h sind über 1000 Angebote für Sachspenden auf unsere Homepage eingelangt.</p>
          <p><a class="btn btn-default" href="#" role="button">mehr &raquo;</a></p>
       </div>
      </div>
      <hr>
      <footer>
        <p></p>
      </footer>
    </div> <!-- /container -->
  </body>
</html>
}
