@(donorForm: play.data.Form[Donor], donationForm: play.data.Form[Donation])

@import helper._
@import play.api.Play

@implicitField = @{ FieldConstructor(helper.forms.bootstrapForm.f) }

@bodyScripts = {
	<script type="text/javascript">
	(function($){
		//TODO: JS validation + dynamically add required indicator
		/*
		console.log('...');
		$pickUpDate_wrapper = $('#pickUpDate-wrapper');
		$transportType = $('#transportType');
		if ($transportType.val() != @Play.current.configuration.getString("transportType.pickUp.id"))
			$pickUpDate_wrapper.hide();
		*/
	})(jQuery);
	</script>
	
	<!-- ********************** -->
	<!-- * jQuery File Upload * -->
	<!-- ********************** -->
	<script src="@routes.Assets.at("javascripts/jquery-file-upload/jquery.ui.widget.js")"></script>
	<script src="@routes.Assets.at("javascripts/jquery-file-upload/jquery.iframe-transport.js")"></script>
	<script src="@routes.Assets.at("javascripts/jquery-file-upload/jquery.fileupload.js")"></script>
	
	<!-- The Templates plugin is included to render the upload/download listings -->
	<script src="http://blueimp.github.io/JavaScript-Templates/js/tmpl.min.js"></script> <!-- .min version available -->
	
	<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
	<script src="http://blueimp.github.io/JavaScript-Load-Image/js/load-image.min.js"></script> <!-- .min version available -->
	
	<!-- The Canvas to Blob plugin is included for image resizing functionality -->
	<script src="http://blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script> <!-- .min version available -->
	
	<!-- blueimp Gallery script -->
	<script src="http://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script> <!-- .min version available -->
	
	<!-- The File Upload processing plugin -->
	<script src="@routes.Assets.at("javascripts/jquery-file-upload/jquery.fileupload-process.js")"></script>
	
	<!-- The File Upload image preview & resize plugin -->
	<script src="@routes.Assets.at("javascripts/jquery-file-upload/jquery.fileupload-image.js")"></script>
	
	<!-- The File Upload validation plugin -->
	<script src="@routes.Assets.at("javascripts/jquery-file-upload/jquery.fileupload-validate.js")"></script>
	
	<!-- The File Upload user interface plugin -->
	<script src="@routes.Assets.at("javascripts/jquery-file-upload/jquery.fileupload-ui.js")"></script>
	
	<script>
		$(document).ready(function () {
		    $("#donateForm").fileupload({
			    url: '@routes.Donate.upload()',
		        sequentialUploads: true,
		        dataType: 'json',
            	maxFileSize: 5000000,
            	acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
		        done: function (e, data) {
			        alert(data);
		            /* $.each(data.result.files, function (index, file) {
		                $('<p/>').text(file.name).appendTo(document.body);
		            }); */
		        }
		    });
		});
	</script>
	
	<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td>
            <span class="preview"></span>
        </td>
        <td>
            <p class="name">{%=file.name%}</p>
            <strong class="error text-danger"></strong>
        </td>
        <td>
            <p class="size">Processing...</p>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
        </td>
        <td>
            {% if (!i && !o.options.autoUpload) { %}
                <button class="btn btn-primary start" disabled>
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Start</span>
                </button>
            {% } %}
            {% if (!i) { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        <td>
            <span class="preview">
                {% if (file.thumbnailUrl) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                {% } %}
            </span>
        </td>
        <td>
            <p class="name">
                {% if (file.url) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                {% } else { %}
                    <span>{%=file.name%}</span>
                {% } %}
            </p>
            {% if (file.error) { %}
                <div><span class="label label-danger">Error</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
        <td>
            {% if (file.deleteUrl) { %}
                <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>Delete</span>
                </button>
                <input type="checkbox" name="delete" value="1" class="toggle">
            {% } else { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>
	<!-- *********************** -->
	<!-- * /jQuery File Upload * -->
	<!-- *********************** -->
}

@main(title = "Spende anbieten", bodyScripts) {
	<h1>Spende anbieten</h1>
	@if(flash.containsKey("success")) {
	<div class="alert alert-success">
		<strong>Vielen Dank für Ihr Spenden-Angebot!</strong><br/>Sobald Ihre Spende benötigt wird, werden wir uns mit Ihnen in Verbindung setzen.
    </div>
	}
	@helper.form(action = routes.Donate.summary, 'id -> "donateForm", 'enctype -> "multipart/form-data") {
	@if(donorForm.hasErrors || donationForm.hasErrors) {
	<div class="alert alert-danger">
		<strong>Bitte überprüfen Sie Ihre Eingaben!</strong>
		@* print global form errors: *@
		<ul>
		@donorForm.globalErrors.map { e =>
			<li>@e.message</li>
		}
		@donationForm.globalErrors.map { e =>
			<li>@e.message</li>
		}
		</ul>
	</div>
    }
	<fieldset>
		<legend>Angaben zur Spende</legend>
		<div class="row">
			<div class="col-xs-12 col-lg-4">
				@inputText(donationForm("label"),
					'id -> "label",
					'_label -> "Bezeichnung",
					'class -> "form-control",
					'placeholder -> "Sandsäcke",
					'size -> 60
				)
			</div>
			<div id="pickUpDate-wrapper" class="col-xs-12 col-lg-4 col-lg-offset-1">
				@textarea(donationForm("description"),
					'id -> "description",
					'_label -> "Beschreibung",
					'class -> "form-control",
					'placeholder -> "Detaillierte Beschreibung Ihrer Spende.",
					'rows -> 8,
					'cols -> 60
				)
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-lg-4">
				@select(donationForm("category.id"),
					options(Enumerated.Category.options),
					'id -> "category",
					'_label -> "Kategorie",
					'class -> "form-control",
					'_required -> true
				)
			</div>
			<div class="col-xs-12 col-lg-4 col-lg-offset-1">
				@inputText(donationForm("number"),
					'id -> "number",
					'_label -> "Anzahl",
					'class -> "form-control small-input",
					'placeholder -> "1",
					'value -> 1,
					'size -> 5
				)
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-lg-4">
				@select(donationForm("transportType.id"),
					options(Enumerated.TransportType.options),
					'id -> "transportType",
					'_label -> "Transport",
					'class -> "form-control",
					'_required -> true
				)
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-lg-4">
				files old
				@* @inputFile(donationForm("files"),
					'id -> "files",
					'_label -> "Fotos",
					'class -> "form-control",
					'multiple -> "multiple",
					'size -> 60
				) *@
			</div>
		</div>
    		<div class="row fileupload-buttonbar">
            <div class="col-lg-7">
                <!-- The fileinput-button span is used to style the file input field as button -->
                <span class="btn btn-success fileinput-button">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Add files...</span>
                    <input type="file" name="files[]" multiple>
                </span>
                <button type="submit" class="btn btn-primary start">
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Start upload</span>
                </button>
                <button type="reset" class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel upload</span>
                </button>
                <button type="button" class="btn btn-danger delete">
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>Delete</span>
                </button>
                <input type="checkbox" class="toggle">
                <!-- The global file processing state -->
                <span class="fileupload-process"></span>
            </div>
            <!-- The global progress state -->
            <div class="col-lg-5 fileupload-progress fade">
                <!-- The global progress bar -->
                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                </div>
                <!-- The extended global progress state -->
                <div class="progress-extended">&nbsp;</div>
            </div>
        </div>
        <!-- The table listing the files available for upload/download -->
        <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
	</fieldset>
	<fieldset>
		<legend>Angaben zur Person</legend>
		<div class="row">
			<div class="col-xs-12 col-lg-4">
				@inputText(donorForm("name"),
					'id -> "name",
					'_label -> "Name",
					'class -> "form-control",
					'placeholder -> "Max Mustermann",
					'size -> 30
				)
			</div>
			<div class="col-xs-12 col-lg-4 col-lg-offset-1">
				@inputText(donorForm("email"),
					'id -> "email",
					'_label -> "Email-Adresse",
					'class -> "form-control",
					'placeholder -> "maxmustermann@email.at",
					'size -> 30
				)
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-lg-4">
				@inputText(donorForm("street"),
					'id -> "street",
					'_label -> "Straße / Haus-Nr.",
					'class -> "form-control",
					'placeholder -> "Belvedere 1",
					'size -> 30
				)
			</div>
			<div class="col-xs-12 col-lg-4 col-lg-offset-1">
				<div class="row">
					<div class="col-xs-4 col-lg-4">
						@inputText(donorForm("zip"),
							'id -> "zip",
							'_label -> "PLZ",
							'class -> "form-control small-input",
							'placeholder -> "1040",
							'size -> 5
						)
					</div>
					<div class="col-xs-8 col-lg-8">
						@inputText(donorForm("city"),
							'id -> "city",
							'_label -> "Ort",
							'class -> "form-control",
							'placeholder -> "Wien",
							'size -> 30
						)
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-lg-4">
				@inputText(donorForm("phone"),
					'id -> "phone",
					'_label -> "Telefon-Nr.",
					'class -> "form-control",
					'placeholder -> "+43 699 12345678",
					'size -> 30
				)
			</div>
			
		</div>
	</fieldset>
	<div class="actions">
		<a href="@routes.Donate.form" class="btn btn-default">Zurücksetzen</a>
		<input type="submit" class="btn btn-primary" value="Weiter &raquo;">
	</div>
	}
}

