@(donorForm: play.data.Form[Donor], donationForm: play.data.Form[Donation])

@import play.api.Play
@import play.api.libs.json.Json
@import helper._

@implicitField = @{ FieldConstructor(helper.forms.bootstrapForm.f) }

@bodyScripts = {
	<script src="@routes.Assets.at("javascripts/jquery.validate.min.js")" type="text/javascript"></script>
	<script type="text/javascript">
		$(function($) {
			// overwrite jQuery validator plugin messages
			$.extend($.validator.messages, {
			    required: "@Messages("error.required")",
			    email: "@Messages("error.email")",
			    date: "@Messages("error.invalid.java.util.Date")",
			    number: "@Messages("error.invalid")",
			    min: jQuery.validator.format("@Messages("error.min")")
			});
			
			var addressPhoneRequired = function() {
				// on transportType = pickUp
				if ($('#donateForm').find("[name='transportType.id']").val() == @Play.current.configuration.getString("transportType.pickUp.id")) {
					return true;
				}			
				return false;
			};
			
			// register jQuery validation plugin
			$('#donateForm').validate({
				"highlight": function(element) {
			        $(element).closest('.form-group').addClass('has-error');
			    },
			    "unhighlight": function(element) {
			        $(element).closest('.form-group').removeClass('has-error');
			    },
			    "errorElement": "div",
			    "errorClass": "alert alert-danger",
			    "rules": {
			    	// Donation
					"label": { 
						"required": true
					},
					"description": { 
						"required": true
					},
					"category.id": { 
						"required": true
					},
					"number": { 
						"required": true,
						"min": 1
					},
					"transportType.id": {
						"required": true,
					},
					// Donor
					"name": {
						"required": true,
					},
					"email": {
						"required": true,
						"email": true,
					},
					"street": {
						"required": addressPhoneRequired,
					},
					"zip": {
						"required": addressPhoneRequired,
					},
					"city": {
						"required": addressPhoneRequired,
					},
					"phone": {
						"required": 
					}
				},
			});
		});
	</script>
}

@main(title = "Spende anbieten", bodyScripts) {
	<h1>Spende anbieten</h1>
	@if(flash.containsKey("success")) {
	<div class="alert alert-success">
		<strong>Vielen Dank für Ihr Spenden-Angebot!</strong><br/>
		Sobald Ihre Spende benötigt wird, werden wir uns mit Ihnen in Verbindung setzen.
    </div>
	}
	@helper.form(action = routes.Donate.summary, 'id -> "donateForm", 'enctype -> "multipart/form-data") {
	@if(donorForm.hasErrors || donationForm.hasErrors) {
	<div class="alert alert-danger">
		<strong>Bitte überprüfen Sie Ihre Eingaben!</strong>
		@* print global form errors: *@
		<ul>
		@donorForm.globalErrors.map { e =>
			<li>@e.message</li>
		}
		@donationForm.globalErrors.map { e =>
			<li>@e.message</li>
		}
		</ul>
	</div>
    }
	<fieldset>
		<legend>Angaben zur Spende</legend>
		<div class="row">
			<div class="col-xs-12 col-lg-4">
				@inputText(donationForm("label"),
					'id -> "label",
					'_label -> "Bezeichnung",
					'class -> "form-control",
					'placeholder -> "Sandsäcke",
					'size -> 60
				)
			</div>
			<div id="pickUpDate-wrapper" class="col-xs-12 col-lg-4 col-lg-offset-1">
				@textarea(donationForm("description"),
					'id -> "description",
					'_label -> "Beschreibung",
					'class -> "form-control",
					'placeholder -> "Detaillierte Beschreibung Ihrer Spende.",
					'rows -> 8,
					'cols -> 60
				)
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-lg-4">
				@select(donationForm("category.id"),
					options(Enumerated.Category.options),
					'id -> "category",
					'_label -> "Kategorie",
					'class -> "form-control",
					'_required -> true
				)
			</div>
			<div class="col-xs-12 col-lg-4 col-lg-offset-1">
				@inputText(donationForm("number"),
					'id -> "number",
					'_label -> "Anzahl",
					'class -> "form-control small-input",
					'placeholder -> "1",
					'value -> 1,
					'size -> 5
				)
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-lg-4">
				@select(donationForm("transportType.id"),
					options(Enumerated.TransportType.options),
					'id -> "transportType",
					'_label -> "Transport",
					'class -> "form-control",
					'_required -> true
				)
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-lg-4">
				@inputFile(donationForm("files"),
					'id -> "files",
					'_label -> "Fotos",
					'class -> "form-control",
					'multiple -> "multiple",
					'size -> 60
				)
			</div>
		</div>
	</fieldset>
	<fieldset>
		<legend>Angaben zur Person</legend>
		<div class="row">
			<div class="col-xs-12 col-lg-4">
				@inputText(donorForm("name"),
					'id -> "name",
					'_label -> "Name",
					'class -> "form-control",
					'placeholder -> "Max Mustermann",
					'size -> 30
				)
			</div>
			<div class="col-xs-12 col-lg-4 col-lg-offset-1">
				@inputText(donorForm("email"),
					'id -> "email",
					'_label -> "Email-Adresse",
					'class -> "form-control",
					'placeholder -> "maxmustermann@email.at",
					'size -> 30
				)
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-lg-4">
				@inputText(donorForm("street"),
					'id -> "street",
					'_label -> "Straße / Haus-Nr.",
					'class -> "form-control",
					'placeholder -> "Belvedere 1",
					'size -> 30
				)
			</div>
			<div class="col-xs-12 col-lg-4 col-lg-offset-1">
				<div class="row">
					<div class="col-xs-4 col-lg-4">
						@inputText(donorForm("zip"),
							'id -> "zip",
							'_label -> "PLZ",
							'class -> "form-control small-input",
							'placeholder -> "1040",
							'size -> 5
						)
					</div>
					<div class="col-xs-8 col-lg-8">
						@inputText(donorForm("city"),
							'id -> "city",
							'_label -> "Ort",
							'class -> "form-control",
							'placeholder -> "Wien",
							'size -> 30
						)
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-lg-4">
				@inputText(donorForm("phone"),
					'id -> "phone",
					'_label -> "Telefon-Nr.",
					'class -> "form-control",
					'placeholder -> "+43 699 12345678",
					'size -> 30
				)
			</div>
			
		</div>
	</fieldset>
	<div class="actions">
		<a href="@routes.Donate.form" class="btn btn-default">Zurücksetzen</a>
		<input type="submit" class="btn btn-primary" value="Weiter &raquo;">
	</div>
	}
}
