@(personForm: play.data.Form[Person]) @*TODO: use Donatation class here*@

@import helper.twitterBootstrap._

@main(title = "Donate") {
	<h1>Spende anbieten</h1>
	@helper.form(action = routes.Donate.index(), 'id -> "donateForm") {
		<fieldset>
			<legend>Angaben zum Spender</legend>
			@helper.inputText(personForm("name"), 
				'id -> "name",
				'_label -> "Name",
				'_help -> "Der Name des Spenders",
				'size -> 30
			)
			@helper.inputText(personForm("address"), 
				'id -> "address", 
				'_label -> "Anschrift",
				'_help -> "Die Anschrift des Spenders",
				'size -> 30
			)
			@helper.inputText(personForm("zipcode"), 
				'id -> "zipcode", 
				'_label -> "PLZ",
				'_help -> "Die PLZ des Spenders",
				'size -> 30
			)
			@helper.inputText(personForm("city"), 
				'id -> "city", 
				'_label -> "Ort",
				'_help -> "Der Ort des Spenders",
				'size -> 30
			)
			@helper.inputText(personForm("email"), 
				'id -> "email", 
				'_label -> "Email-Adresse",
				'_help -> "Die Email-Adresse des Spenders",
				'size -> 30
			)
			@helper.inputText(personForm("phone"), 
				'id -> "phone", 
				'_label -> "Telefon-Nr.",
				'_help -> "Die Telefon-Nr. des Spenders",
				'size -> 30
			)
		</fieldset>
	}
}
